* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px 125px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar nav"
    "sidebar cont";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 0.75fr auto auto auto;
    gap: 30px;
    padding: 10px;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 2fr 3frs;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: auto 0.75fr auto auto auto;
    justify-content: space-around;
    align-content: center;
}

.nav button {
    min-width: 100px;
}

.content {
    grid-area: cont; 
    display: grid;
    grid-template: 1fr 1fr/3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

